//
// Variables
//

// Purples
$purple-100: hsl(270, 35%, 93%);
$purple-200: hsl(270, 35%, 87%);
$purple-300: hsl(270, 33%, 83%);
$purple-400: hsl(270, 33%, 75%);
$purple-500: hsl(270, 33%, 66%);
$purple-600: hsl(270, 33%, 48%);
$purple-700: hsl(270, 33%, 36%);
$purple-800: hsl(270, 33%, 32%);
$purple-900: hsl(269, 33%, 28%);

// Greens
$green-100: hsl(136, 100%, 97%);
$green-200: hsl(139, 73%, 87%);
$green-300: hsl(141, 60%, 75%);
$green-400: hsl(143, 55%, 62%);
$green-500: hsl(145, 46%, 51%);
$green-600: hsl(148, 48%, 43%);
$green-700: hsl(150, 48%, 35%);
$green-800: hsl(152, 45%, 28%);
$green-900: hsl(152, 42%, 23%);

// Grays
$gray-50: hsl(200, 48%, 99%);
$gray-100: hsl(204, 45%, 98%);
$gray-200: hsl(210, 38%, 95%);
$gray-300: hsl(214, 32%, 91%);
$gray-400: hsl(211, 25%, 84%);
$gray-500: hsl(214, 20%, 69%);
$gray-600: hsl(216, 15%, 52%);
$gray-700: hsl(218, 17%, 35%);
$gray-800: hsl(218, 23%, 23%);
$gray-900: hsl(220, 26%, 14%);

// Reds
$red-100: hsl(0, 100%, 98%);
$red-200: hsl(0, 95%, 92%);
$red-300: hsl(0, 97%, 85%);
$red-400: hsl(0, 95%, 75%);
$red-500: hsl(0, 88%, 68%);
$red-600: hsl(0, 76%, 57%);
$red-700: hsl(0, 61%, 48%);
$red-800: hsl(0, 56%, 39%);
$red-900: hsl(0, 47%, 31%);

// Oranges
$orange-100: rgb(255, 250, 240);
$orange-200: hsl(39, 96%, 89%);
$orange-300: hsl(38, 93%, 77%);
$orange-400: hsl(33, 90%, 65%);
$orange-500: hsl(27, 84%, 57%);
$orange-600: hsl(24, 75%, 50%);
$orange-700: hsl(20, 71%, 44%);
$orange-800: hsl(16, 65%, 37%);
$orange-900: hsl(14, 61%, 30%);

// Yellows
$yellow-100: hsl(60, 100%, 97%);
$yellow-200: hsl(58, 97%, 87%);
$yellow-300: hsl(55, 92%, 76%);
$yellow-400: hsl(51, 89%, 67%);
$yellow-500: hsl(47, 81%, 61%);
$yellow-600: hsl(40, 67%, 51%);
$yellow-700: hsl(36, 71%, 42%);
$yellow-800: hsl(32, 75%, 34%);
$yellow-900: hsl(30, 76%, 26%);

// Teals
$teal-100: hsl(152, 68%, 96%);
$teal-200: hsl(154, 75%, 87%);
$teal-300: hsl(158, 58%, 62%);
$teal-400: hsl(160, 51%, 49%);
$teal-500: hsl(162, 63%, 41%);
$teal-600: hsl(164, 71%, 34%);
$teal-700: hsl(166, 72%, 28%);
$teal-800: hsl(168, 80%, 23%);
$teal-900: hsl(170, 97%, 15%);

// Blues
$blue-100: hsl(201, 100%, 96%);
$blue-200: hsl(202, 81%, 86%);
$blue-300: hsl(203, 82%, 76%);
$blue-400: hsl(205, 79%, 66%);
$blue-500: hsl(207, 73%, 57%);
$blue-600: hsl(209, 62%, 50%);
$blue-700: hsl(211, 61%, 43%);
$blue-800: hsl(213, 49%, 34%);
$blue-900: hsl(215, 41%, 28%);

// Font Sizes
$f1: 10px;
$f2: 12px;
$f3: 14px;
$f4: 16px;
$f5: 18px;
$f6: 20px;
$f7: 24px;
$f8: 30px;
$f9: 36px;
$f10: 48px;
$f11: 60px;
$f12: 72px;  